<div class="widgets-container">
    <div class="recipes-widget widget">
        <h2>Recipes for the week</h2>
        <div class="recipes-body widget-body">
            <a href="">Spaghetti w/ meatballs</a>
            <a href="">Oven-roasted Turkey</a>
            <a href="">Black Bean Burger</a>
            <a href="">Deep Fried Butter</a>
            <a href="">Black Bean Burger</a>
            <a href="">Deep Fried Butter</a>
            <button>Get different recipes</button>
        </div>
    </div>
    <div class="weather-widget widget">
        <h2>Weekly Forecast</h2>
        <input type="text">
        <div class="weather-body">
            <div class="weather-day">
                <h4>Monday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Tuesday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Wednesday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Thursday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Friday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
        </div>
    </div>
    <div class="events-widget widget">
        <h2>Events during the week</h2>
        <div class="events-body widget-body">
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <button>See more events near me</button>
        </div>
    </div>
    <div class="events-widget widget">
        <h2>Some other random widget</h2>
        <div class="events-body widget-body">
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <button>See more events near me</button>
        </div>
    </div>     
</div>