<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true ">
    <title>thyme | for the love of food, wine, and music</title>
    <link rel="icon" type="image/x-icon" href="../img/Thyme-ico.ico">
    {{!-- GOOGLE FONTS --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Belleza"/>
    {{!-- CUSTOM CSS --}}
    <script src="https://kit.fontawesome.com/b95f853310.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{#if loggedIn}}
    <header>
        <img class="thyme-head" src="/img/thyme-header-logo-white-small.png" alt="thyme logo">
        {{!-- <h1>THYME</h1> --}}
        <nav>
            <div>
            <p class="today">{{getDate}}</p>
            </div>
            <div>
                <button>profile/preferences</button>
                <button><i class="fa-solid fa-arrow-left"></i> </button>
                <button><i class="fa-solid fa-arrow-right"></i> </button>
                <button class="logout-btn">Logout</button>
            </div>
        </nav>
    </header>
    {{else}}
    <header>
        <img class="login-thyme" src="../img/thyme-header-logo-white-small.png" alt="thyme logo">
        {{!-- <h1>THYME</h1> --}}
    </header>
    {{/if}}

    <main>

        {{{body}}}
    
    </main>

    {{#if loggedIn}}
        <script src="/js/login/logout.js"></script>
    {{/if}}
</body>
</html>