<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true ">
    <title>Document</title>
    {{!-- GOOGLE FONTS --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Belleza"/>
    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{#if loggedIn}}
    <header>
        <img class="thyme-head" src="../img/thyme-header-logo-white.png" alt="thyme logo">
        {{!-- <h1>THYME</h1> --}}
        <nav>
            <div>
            <p class="today">{{getDate}}</p>
            </div>
            <div>
                <button>profile/preferences</button>
                <button> < </button>
                <button> > </button>
                <button id="logout-btn">Logout</button>
            </div>
        </nav>
    </header>
    {{else}}
    <header>
        <img class="login-thyme" src="../img/thyme-header-logo-white-small.png" alt="thyme logo">
        {{!-- <h1>THYME</h1> --}}
    </header>
    {{/if}}

    <main>

        {{{body}}}
    
    </main>

    {{#if loggedIn}}
        <script src="/js/login/logout.js"></script>
    {{/if}}
</body>
</html>