  <main>
    <div class="list-container" style="flex-wrap: wrap;">
      <div class="col">
        <div class="card">
          <!-- keep this for Date -->
          <div class="box card-header col-10">
            <h3 class="currentTime"></h3>
          </div>

          <div class="time-blocks">
            <!-- Timeblocks go here -->
            <div id="hour" class="row nine">
              <div id="time" class="col-1 hour"><span class="hour-text">12 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row nine">
              <div id="time" class="col-1 hour"><span class="hour-text">1 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">2 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">3 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">4 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">5 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">6 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">7 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">8 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row five">
              <div id="time" class="col-1 hour"><span class="hour-text">9 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row five">
              <div id="time" class="col-1 hour"><span class="hour-text">10 AM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row nine">
              <div id="time" class="col-1 hour"><span class="hour-text">11 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">12 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">1 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">2 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">3 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">4 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">5 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">6 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row five">
              <div id="time" class="col-1 hour"><span class="hour-text">7 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row five">
              <div id="time" class="col-1 hour"><span class="hour-text">8 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">9 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1">SAVE</button>
            </div>

            <div id="hour" class="row">
              <div id="time" class="col-1 hour"><span class="hour-text">10 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>

            <div id="hour" class="row five">
              <div id="time" class="col-1 hour"><span class="hour-text">11 PM</span></div>
              <textarea id="textarea" class="col-10 text"></textarea>
              <button id="saveBtn" class="saveBtn col-1"><span class="btn-text">SAVE</span></button>
            </div>
          </div>