<a href="/day"><button id="switch-view">daily view</button></a>
<div class="list-container">

    {{#each lists as |list|}}

            <div class="col">
                <div class="card">
                    <div class="box card-header">
                        <h3><a href="/weekly/list/{{list.id}}">{{list.list_date}}</a></h3> 
                    </div>
                    <div class="box card-body">

                        {{#if list.tasks.length}}
                            {{#each list.tasks as |task|}}
      
                                    <div class="list-row">
                                        <input type="checkbox">
                                        <p>{{task.task}}</p>
                                    </div>
                            {{/each}}
                        {{/if}}

                    </div>
                    <form>
                        <input type="text" name="task" placeholder="enter task">
                        <button id="{{list.id}}" type="submit" name="submit-task" autocomplete="off" class="task-button">+</button>
                    </form>
                </div>
            </div>  

    {{/each}}

</div>

{{> widgets this}}

<script src="/js/weekly-list.js"></script>



