* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Belleza, sans-serif;
  font-style: normal;
  font-weight: 500;
  /* background: #e06666; using to view containers */
}

html,
body {
  display: grid;
  height: 100%;
  /* place-items: center; */
  margin-top: 1rem;
  width: 100%;
  background: -webkit-linear-gradient(left, #48631a, #86a451);
}

/* full header container */
header {
  padding: 1rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: #f6b26b; using to view containers */
}

header h1 {
  font-size: 3rem;
  color: #fff;
}


nav {
  display: flex;
  align-items: center;
  /* background: #f9cb9c using to view containers; */
}

nav div {
  padding: 0 1rem;
  /* background: #ffe599; */
}

nav div p {
  font-size: 1.5rem;
  color: #fff;
}

/* header buttons */
nav button {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background: #48631a;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem;
}

nav button:hover {
  background-color: #354912;
}

button {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background: #48631a; 
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

#switch-view {
  position: absolute;
  top: 8em;
  right: 3em;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background: red; */
}

.list-container {
  min-height: 31.25rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #a4bb7c;
  border-radius: 0.5rem;
  padding: 1rem;
  /* using to view containers */
}

/* ⬆️ both background same size .col overlaps .list ⬇️*/

/* holds all weekday info */
.col {
  flex-basis: 16.67%;
  /* background: #6aa84f; using to view containers */
}

.box {
  /* max-width: 12.5rem; */
  margin: 0.625rem auto;
  background: white;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.3125rem 1.3125rem -0.3125rem rgba(0, 0, 0, 0.3);
}

/* List Day heading */
.card-header {
  /* background-color: #248018; */
  /* background-color: #70b5c4; */
  text-align: center;
}

.card-header h3 {
  color: #86a451;
  padding: 0.625rem;
  font-size: 1.4rem;
}

.card-header a {
  text-decoration: none;
  color: #86a451;
}

.card-header a:hover {
  /* text-decoration: underline; */
  color: #df75aa;
}

/* task backgroud colors */
.list-row {
  min-height: 1.875rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #f1f1f1;
  /* background: #6fa8dc; */
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #df75aa;
}

input[type="checkbox"] {
  margin: 1.25rem 0.625rem 1.25rem 1.25rem;
  opacity: 0.8;
}

/* all p text */
p {
  margin: 0;
  padding: 0.625rem;
  font-size: 1.15rem;
  font-weight: 200;
  color: #00204a;
  /* background: #A683E3; */
}

/* enter task box */
form {
  text-align: center;
  /* margin-left: 1.25rem; */
  /* background: #3d85c6; */
}

/* little plus button on enter task box */
.task-button {
  min-height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  color: green;
  font-size: 1.25rem;
  padding-bottom: 0.4375rem;
  border-width: 0;
}

/* all input boxes */
input[type="text"] {
  text-align: center;
  height: 3.125rem;
  top: 0.625rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 200;
  width: 11.25rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -0.1875rem 0 0 #df75aa;
}

/* enter task text on enter box */
::placeholder {
  color: #778d53;
  opacity: 1;
}

/* WIDGETS */

/* entire widget container */
.widgets-container {
  display: flex;
  margin: 1.75rem;
  text-align: center;
  line-height: 1.5rem;
  /* background: #b4a7d6; */
}

.widgets-container h2 {
  margin-bottom: 0.15rem;
  background: #86a451;
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.widgets-container button {
  background: #48631a;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
}

.widgets-container button:hover {
  background-color: #354912;
}

.widget {
  /* max-width: 12.5rem; */
  margin: 0.625rem;
  padding: 1.3125rem;
  background: white;
  border-radius: 0.3125rem;
  border: none;
}

/* RECIPES WIDGET */
.widget-body a {
  display: block;
  /* padding-left: .2rem; */
  text-decoration: none;
  color: #86a451;
}

.widget-body a:hover {
  /* text-decoration: underline; */
  color: #df75aa;
}

/* .recipes-widget h2 {
    margin-bottom: .15rem;
    background: #86a451;
    color: #fff;
    padding: .2rem;
    border-radius: .25rem;
    text-decoration: underline; meh dont like too much
} */

/* .recipes-body button {
    display: block;
    margin-top: .5rem;
} */

/* WEATHER WIDGET */
.weather-body {
  display: flex;
}

/* .weather-widget h2 {
    margin-bottom: .15rem;
    background: #86a451;
    color: #fff;
    padding: .2rem;
    border-radius: .25rem;
} */

/* OTHER EVENTS WIDGET */
.events-widget .events-body {
  padding: 0.5rem;
  line-height: 2rem;
  font-size: 1.25rem;
}

/* *RESPONSIVE WEB DESIGN */
/* RESPONSIVE DESIGN BREAKPOINTS
  1536×864
  1366×768
  1025*1200
  768*1366
  414×896
  375×667 
  360×640
*/

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 240px) {
  header {
    position: relative;
    width: 50%;
    margin-left: 1.75rem;
  }

  main {
    position: relative;
    width: 90%;
    margin-left: 0.5rem;
  }
}
/* 
@media screen and (max-width: 320px) {
  .login-thyme {
    position: relative;
    width: 66%;
    margin-left: 1.75rem;
  }

  .wrapper {
    position: relative;
    width: 90%;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .login-thyme {
    position: relative;
    width: 70%;
    margin-left: 1.75rem;
  }

  .wrapper {
    position: relative;
    width: 95%;
    margin-left: 0.5rem;
  }
} */